<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>Search Tool For Vimeo</title>
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/bootstrap.css" />
    <script src="{{ MEDIA_URL }}js/jquery-1.6.1.min.js"></script>
    <script src="{{ MEDIA_URL }}js/main.js"></script>
    <style>
      .page-header {
        padding-bottom: 5px;
        margin: 20px 0 15px;
        border-bottom: 1px solid #EEE;
      }
      
      .result_row {
        float: left;
        width: 475px;
        line-height: 1.4;
        padding: 12px 10px 20px;
        border-top: 1px solid #DBDBDB;
        border-left: 1px solid #DBDBDB;
        border-right: 1px solid #DBDBDB;
        border-bottom: 1px solid #DBDBDB;
      }

      .breadcrumb_nobg {
        background-color: white;
        padding: 0px 0px;
      }
      
      a.link.darkblue, a.link.darkblue:visited {
        color: #185571;
      }

      a.link:hover {
        text-decoration: underline;
      }

      .font_20 {
        font-size: 20px;
      }

      .font_14 {
        font-size: 14px;
      }
      .darkblue {
        color: #185571;
      }

      p {
        margin: 0 0 0px;
      }

      .width_300 {
        width: 300px;
      }
      
      .width_200 {
        width: 200px;
      }

      .width_500 {
        width: 500px;
      }

      .hide {
        display:none !important;
      }
      .show {
        display:block !important;
      }

      .active {
        color: #999;
      }

      
    </style>
    
  </head>

  <body>
    <div id="wrap">
      <div class="container">
	<div class="page-header width_500">
	  <form class="form-search">
	    <input type="text" id="query-box" class="input-xlarge search-query" placeholder="Search">
	    <button type="submit" class="btn" id="search-btn">Search</button>
	  </form>
	  
	  <ul class="breadcrumb breadcrumb_nobg width_300 hide">
	    <li><a href="#" id="all" class="filterclick">All</a> <span class="divider">/</span></li>
	    <li><a href="#" id="paying" class="filterclick">Paying</a> <span class="divider">/</span></li>
	    <li><a href="#" id="uploaded" class="filterclick">Uploaded</a> <span class="divider">/</span></li>
	    <li><a href="#" id="staffpick" class="filterclick">Staff Pick</a></li>
	    <input type="hidden" id="filter" value="all" />
	  </ul>
	</div>

	<div class="alert alert-success width_200 hide"><strong><span id="count"></span> results</strong></div>
	<div class="width_500" id="results">

	</div>
      </div>
      
      <div id="push"></div>
    </div>
    
  </body>
